@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800&family=Kaushan+Script&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100&family=Ropa+Sans&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Fira Sans", sans-serif;
}

h1 {
  color: #213f7d;
}
.login_page {
  height: 100%;
  display: flex;
}
.login_main {
  max-width: 85%;
  margin: 0 auto;
}

.login_div1 {
  width: 50%;
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.union_logo {
  width: 24.75px;
  height: 25px;
  padding-right: 10px;
}

.lendsqr_logo {
  width: 138.44px;
  height: 36px;
}
.logo-icon {
  display: flex;
  padding-top: 70px;
  padding-left: 35px;
  padding-bottom: 30px;
}
.login_avatar {
  width: 600px;
  padding-top: 50px;
}
.center_avatar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.login_div2 {
  width: 50%;
  height: 100vh;
  position: relative;
}
.login_div2_center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login_h1 {
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  line-height: 56.64px;
}
.login_p {
  font-size: 20px;
}
.login_input {
  width: 447px;
  height: 46px;
  border-radius: 5px;
  border-color: #545f7d;
  margin-bottom: 22px;
  padding-left: 7px;
}
form {
  margin-top: 60px;
}
form h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16.39px;
  color: #39cdcc;
}

.login_button {
  background-color: #39cdcc;
  width: 454px;
  height: 48px;
  margin-top: 30px;
  color: #fff;
  border-color: transparent;
  border-radius: 8px;
}

.dashboard_logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
}
header {
  display: flex;
  background-color: #fff;
  height: 50px;
}
.union_dashboard_logo {
  width: 20.63px;
  height: 20.84px;
  padding-right: 5px;
}
.lendsqr_dashboard_logo {
  width: 115.37px;
  height: 30px;
}
.dashboard_page {
  background-color: #e5e5e5;

  width: 100%;
}
nav {
  height: 100px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo_search_div {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.search_input_div {
  justify-content: center;
  align-items: center;
}
.search_input {
  width: 400px;
  height: 40px;
  padding-left: 5px;
}
.search_button {
  background-color: #39cdcc;
  width: 56px;
  height: 44px;
  border-color: transparent;
}
.dashboard_nav_items {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_items {
  margin-right: 20px;
}
.bell {
  width: 19.67px;
  height: 22.74px;
}
.profile_image {
  width: 48px;
  height: 50px;
  border-radius: 100%;
}
.dropdown {
  padding-right: 50px;
}
aside {
  position: fixed;
  left: 0;
  top: 15%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  width: 20%;
  height: 100vh;
  background-color: #fff;
}
aside::-webkit-scrollbar {
  display: none;
}
aside {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.first_aside_option {
  display: flex;
  gap: 16px;
  padding-top: 27px;
}
.dashboard_main {
  padding-top: 27px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.sidebar_dashboard {
  display: flex;
  justify-content: space-between;
}

.brief_icon {
  display: flex;
  flex-direction: column;
}
.organizationdropdown_icon {
  width: 6.57px;
  height: 11.21px;
}
.home_icon {
  display: flex;
  flex-direction: column;
}
.home_roof {
  width: 16px;
  height: 7.55px;
}
.home {
  margin-top: -4px;
}
.dashboard {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 15px;
}
.aside_elements {
  padding-left: 38x;
}
.customers_dashboard {
  margin-top: 27px;
}
.customers_dashboard h6 {
  margin-top: 38px;
}
.aside_div {
  margin-left: 20px;
}
.business_div {
  margin-top: 27px;
}
.Settings_div {
  margin-top: 27px;
  margin-bottom: calc(27px + 100px);
}
.dashboard_area {
  width: 80%;
  height: 100%;
  margin-left: auto;
}
.dashboard_child {
  width: 95%;
  margin: 0 auto;
  margin-top: calc(30px+100px);
}

.dashboard_h2 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.box {
  display: flex;
  gap: 50px;
  margin-bottom: 25px;
  margin-top: 22px;
}
.box_child {
  width: 220px;
  height: 140px;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 30px;
  padding-top: 20px;
}
.box_child_image {
  margin-bottom: 12px;
}
.box_child h6 {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
}
.box_child h4 {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
}

.user_whole {
  background-color: #fff;
}
.user_children {
  padding-top: 35px;
  padding-left: 25px;
  padding-bottom: 35px;
}

.user_details {
}

.user_single {
  display: flex;
}
.user_single p {
  font-size: 12px;
}
.grid_table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 16px;
  padding-right: 12px;
  justify-content: center;
}

.user_child {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 18px;
  margin-top: 18px;
  gap: 16px;
}
hr {
  border-top: 0.2px solid #213f7d;
  width: 90%;
}
.user_p {
  font-size: 12px;
  text-align: left;
  align-items: left;
}
.page-btn {
  width: 0.7rem;
  height: 0.2rem;
  background: var(--clr-primary-7);
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: var(--transition);
}
.active-btn {
  font-weight: bold;
}
.arrow-btn {
  padding: 5px 12px;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  height: 50px;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.modal_div {
  position: relative;
}
