* {
  padding: 0;
  margin: 0;
}

h1 {
  color: #213f7d;
}
.login_page {
  height: 100%;
  display: flex;
}
.login_main {
  max-width: 85%;
  margin: 0 auto;
}

.login_div1 {
  width: 50%;
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.union_logo {
  width: 24.75px;
  height: 25px;
  padding-right: 10px;
}

.lendsqr_logo {
  width: 138.44px;
  height: 36px;
}
.logo-icon {
  display: flex;
  padding-top: 70px;
  padding-left: 35px;
  padding-bottom: 30px;
}
.login_avatar {
  width: 600px;
  padding-top: 50px;
}
.center_avatar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.login_div2 {
  width: 50%;
  height: 100vh;
  position: relative;
}
.login_div2_center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login_h1 {
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  line-height: 56.64px;
}
.login_p {
  font-size: 20px;
}
.login_input {
  width: 447px;
  height: 46px;
  border-radius: 5px;
  border-color: #545f7d;
  margin-bottom: 22px;
  padding-left: 7px;
}
form {
  margin-top: 60px;
}
form h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16.39px;
  color: #39cdcc;
}

.login_button {
  background-color: #39cdcc;
  width: 454px;
  height: 48px;
  margin-top: 30px;
  color: #fff;
  border-color: transparent;
  border-radius: 8px;
}
