* {
  padding: 0;
  margin: 0;
}

h1 {
  color: #213f7d;
}
.login_page {
  height: 100%;
  display: flex;
}
.login_main {
  max-width: 85%;
  margin: 0 auto;
}

.login_div1 {
  width: 50%;
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.union_logo {
  width: 24.75px;
  height: 25px;
  padding-right: 10px;
}

.lendsqr_logo {
  width: 138.44px;
  height: 36px;
}
.logo-icon {
  display: flex;
  padding-top: 70px;
  padding-left: 35px;
  padding-bottom: 30px;
}
.login_avatar {
  width: 600px;
  padding-top: 50px;
}
.center_avatar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.login_div2 {
  width: 50%;
  height: 100vh;
  position: relative;
}
.login_div2_center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login_h1 {
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  line-height: 56.64px;
}
.login_p {
  font-size: 20px;
}
.login_input {
  width: 447px;
  height: 46px;
  border-radius: 5px;
  border-color: #545f7d;
  margin-bottom: 22px;
  padding-left: 7px;
}
form {
  margin-top: 60px;
}
form h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16.39px;
  color: #39cdcc;
}

.login_button {
  background-color: #39cdcc;
  width: 454px;
  height: 48px;
  margin-top: 30px;
  color: #fff;
  border-color: transparent;
  border-radius: 8px;
}

.dashboard_logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
}
header {
  display: flex;
  background-color: #fff;
  height: 50px;
}
.union_dashboard_logo {
  width: 20.63px;
  height: 20.84px;
  padding-right: 5px;
}
.lendsqr_dashboard_logo {
  width: 115.37px;
  height: 30px;
}
.dashboard_page {
  background-color: #e5e5e5;
  height: 100vh;
  width: 100%;
}
nav {
  height: 100px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.logo_search_div {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.search_input_div {
  justify-content: center;
  align-items: center;
}
.search_input {
  width: 400px;
  height: 40px;
  padding-left: 5px;
}
.search_button {
  background-color: #39cdcc;
  width: 56px;
  height: 44px;
  border-color: transparent;
}
.dashboard_nav_items {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_items {
  margin-right: 20px;
}
.bell {
  width: 19.67px;
  height: 22.74px;
}
.profile_image {
  width: 48px;
  height: 50px;
  border-radius: 100%;
}
.dropdown {
  padding-right: 50px;
}
aside {
  position: fixed;
  left: 0;
  margin-top: 0.5px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 20%;
  height: 100vh;
  background-color: #fff;
}
.first_aside_option {
  display: flex;
  gap: 16px;
  padding-top: 27px;
}
.dashboard_main {
  padding-top: 27px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.brief_icon {
  display: flex;
  flex-direction: column;
}
.organizationdropdown_icon {
  width: 6.57px;
  height: 11.21px;
}
.home_icon {
  display: flex;
  flex-direction: column;
}
.home_roof {
  width: 16px;
  height: 7.55px;
}
.home {
  margin-top: -4px;
}
.dashboard {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 15px;
}
.aside_elements {
  padding-left: 38x;
}
.customers_dashboard {
  margin-top: 27px;
}
.customers_dashboard h6 {
  margin-top: 38px;
}
.aside_div {
  margin-left: 20px;
}
.business_div {
  margin-top: 27px;
}
.Settings_div {
  margin-top: 27px;
  margin-bottom: calc(27px + 100px);
}
